<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="null"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="src/Prelude/auxPredicate.bpl&#13;&#10;src/Prelude/DafnyPrelude.bpl&#13;&#10;src/Prelude/EMFTVM.bpl&#13;&#10;src/Prelude/LibOCL.bpl&#13;&#10;src/Prelude/NativeLib.bpl&#13;&#10;src/Prelude/Preconditions.bpl&#13;&#10;Pacman/SimpleGT_Rule_Encoding/classifierTable.bpl&#13;&#10;Pacman/SimpleGT_Rule_Encoding/constants.bpl&#13;&#10;Pacman/Metamodels/pacman.bpl&#13;&#10;Pacman/ExecutionSemantics/ATL_apply.bpl&#13;&#10;Pacman/ExecutionSemantics/ATL_match.bpl&#13;&#10;Pacman/ExecutionSemantics/StructuralPatternMatching.bpl&#13;&#10;${resource_loc}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Users\zcheng\git\Compiler.Emftvm2Boogie\fr.emn.atlanmod.verigt.compiler"/>
</launchConfiguration>
